@model Malawi_books_directory.Models.Book

@{
    ViewData["Title"] = "Book Details";
}

<h1>Book Details</h1>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Author</dt>
        <dd class="col-sm-10">@Model.Author.Name</dd>
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>
        <dt class="col-sm-2">Published Date</dt>
        <dd class="col-sm-10">@Model.PublishedDate.ToShortDateString()</dd>
        <dt class="col-sm-2">Genre</dt>
        <dd class="col-sm-10">@Model.Genre</dd>
        <dt class="col-sm-2">ISBN</dt>
        <dd class="col-sm-10">@Model.ISBN</dd>
        <dt class="col-sm-2">Publisher</dt>
        <dd class="col-sm-10">@Model.Publisher</dd>
        <dt class="col-sm-2">Language</dt>
        <dd class="col-sm-10">@Model.Language</dd>
        <dt class="col-sm-2">Number of Pages</dt>
        <dd class="col-sm-10">@Model.NumberOfPages</dd>
        <dt class="col-sm-2">Cover Image</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.CoverImageUrl))
            {
                <img src="@Model.CoverImageUrl" alt="Book Cover" style="width:100px; height:100px;" />
            }
        </dd>
        <dt class="col-sm-2">Tags</dt>
        <dd class="col-sm-10">@Model.Tags</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
